* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 1440px;
    margin: 0;
    font-family: "Inika";
   }

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}


/* header */

header {
    background-color: #EDF2EC;
}

.menu {
    display: none;
}

.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 42px 109px;
    padding-right: 73px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__burger {
    display: none;
}

.header__nav-link {
    font-style: normal;
    font-weight:inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.header__nav-item:hover {
    font-weight: 700;
    color: #E06733;
    transition-duration: 250ms;
}

.header__nav-item:nth-child(3):hover {
    margin-left: 0.7px;
}

.header__nav-item {
    margin-right: 46px;
    font-weight: 400;
    color: #010201;
    font-size: 16px;
    line-height: 50px;
}

.header__nav-first {
    margin-right: 0;
}

.header__nav-last {
    margin-right: 40px;
}

.header__nav-item:first-child {
    flex-grow: 1;
}

.header__nav-item:nth-child(2) {
    margin-left: 46px;
}

.header__logo {
    margin-right: -4px;
}

/* section welcome */

.welcome {
    background-color: #EDF2EC;
    font-family: 'Inter';
}

.welcome__container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 62px 73px 94px 109px;
}

.welcome__leafs {
    width: 45%;
    background-image: url(../assets/img/leafs.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.1);
    background-position: 22px 14px;
}

.welcome__descriprion {
    flex-basis: 46.5%;
}

h1 {
    margin-top: 36px;
    margin-bottom: 44px;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
}

.green {
    color: green;
}

.welcome__par {
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
}

.welcome__btn {
    padding: 10px 27px;
    border: 2px solid #E06733;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.welcome__btn:hover {
    color: #FFFFFF;
    background-color: #E06733;
    cursor: pointer;
    transition-duration: .25s;
}

.welcome__btn-link {
    display: block;
}

/* section about */

.about {
    background-color: #FFFFFF;
}

.about__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
}

.about__left {
    flex-basis: 64%;
    margin: 161px 153px 152px 109px;
}

.about__title {
    margin-bottom: 40px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #E06733;
}

.about__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.about__right {
    margin: 93px 77px 94px 0;
    width: 53%;
    background-image: url(../assets/img/houseplant\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* section service */

.service {
    background: #EDF2EC;
}

.service__container {
    margin: 0 auto;
    max-width: 1440px;
}

.service__header {
    display: flex;
    justify-content: left;
    padding: 38px 109px 80px;
    
}

.service__content {
    margin: 0 109px;
    padding-bottom: 121px;
}

.service__title {
    margin-right: 141px;
    max-width: 306px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.service__btn {
    align-self: center;
    margin-right: 38px;
    padding: 12px 40px;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    cursor: pointer;
    transition-duration: .5s;
}

.service__btn:hover,
.service__btn-active {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #E06733;
    cursor: pointer;
    transition-duration: .5s;
}

.service__list {
    display: flex;
    flex-wrap: wrap;
}

.service__item {
    margin-right: 117px;
    margin-bottom: 63px;
    border-bottom: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    filter: blur(0);
    transition-duration: 1s;
}

.blur {
    filter: blur(2px);
    transition-duration: 1s;
}

.service__item:hover {
    cursor: pointer;
}

.service__item:nth-child(3n) {
    margin-right: 0;
}

.service__item:nth-child(n+4) {
    margin-bottom: 0;
}

.service__item-photo1 {
    width: 329px;
    height: 350px;
    background-image: url(../assets/img/first.jpg);
    border-radius: 20px 20px 0px 0px;
}

.service__item-photo2 {
    width: 329px;
    height: 350px;
    background-image: url(../assets/img/first1.jpg);
    border-radius: 20px 20px 0px 0px;
}

.service__item-photo3 {
    width: 329px;
    height: 350px;
    background-image: url(../assets/img/first2.jpg);
    border-radius: 20px 20px 0px 0px;
}

.service__item-photo4 {
    width: 329px;
    height: 350px;
    background-image: url(../assets/img/first3.jpg);
    border-radius: 20px 20px 0px 0px;
}

.service__item-photo5 {
    width: 329px;
    height: 350px;
    background-image: url(../assets/img/first4.jpg);
    border-radius: 20px 20px 0px 0px;
}

.service__item-photo6 {
    width: 329px;
    height: 350px;
    background-image: url(../assets/img/first5.jpg);
    border-radius: 20px 20px 0px 0px;
}

.service__item-title {
    margin: 6px auto;
    margin-bottom: 14px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}

.service__item-description {
    margin-bottom: 36px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
}

/* section prices */

.prices {
      background-color: #FFFFFF;
}

.prices__container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.prices__title {
    margin-top: 34px;
    margin-bottom: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.prices__accourdion {
    margin-bottom: 130px;
    padding: 34px 41px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.prices__description {
    margin-top: 34px;
    max-width: 452px;
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

.prices__btn {
    display: block;
    margin-bottom: 39px;
    margin-left: auto;
    width: 162px;
    height: 50px;
    text-align: right;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    background-color: inherit;
    border: 1px solid #E06733;
    border-radius: 5px;
}

.prices__btn:hover {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    background-color: #E06733;
    cursor: pointer;
    transition-duration: 250ms;
}

.prices__btn-link {
    display: block;
}

.prices__content {
    display: flex;
    justify-content: space-between;
}

.prices__left {
    margin-left: 109px;
}

.prices__right {
    margin-right: 109px;
}

.prices__item {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    width: 250px;
    background-color: #EDF2EC;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
}

.prices__item:hover {
    color: #E06733;
    cursor: pointer;
    transition-duration: 250ms;
}

.prices__main-item:not(:last-child) {
    margin-bottom: 32px;
}

.accordion-body {
    width: 250px;
    padding: 0 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #D6E7D2;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 50ms;
}

.prices__item-image {
    display: block;
    width: 16px;
    height: 20px;
}

.prices__open-title {
    display: flex;
    justify-content: space-between;
}

.prices__image-transform {
    transform: rotate(180deg);
}

.prices__item-line {
    width: 164px;
    height: 0;
    margin-bottom: 6px;
    border-top: 0.5px solid #AEA1A1;
}

.prices__par {
    margin-bottom: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #717171;
}

.prices__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #E06733;
}

.prices__per-hour {
    margin-bottom: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.prices__order {
    width: 86px;
    background: #FFFFFF;
    border-radius: 10px;
}

.prices__order-link {
    margin: 3px 20px;
    display: block;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #717171;
}

.prices__leafs {
    display: block;
    margin-left: auto;
    transform: translate(10px, -5px);
}

/* section contact */

.contact {
    background: #EDF2EC;
    padding-top: 51px;
}

.contact__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
}

.contact__image {
    display: block;
    margin-left: 109px;
}

.contact__title {
    margin-top: 9px;
    margin-left: 45px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.contact__city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
    margin-right: 109px;
    padding: 0 35px 0 20px;
    width: 450px;
    height: 50px;
    color:#717171;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    user-select: none;
}

.contact__city:hover {
    color: #E06733;
    cursor: pointer;
    transition-duration: 250ms;
}

.contact__city-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: inherit;
}

.contact__city-image {
    display: block;
}

.contact__image-open {
    display: none;
}

.contact__list {
    width: 450px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    background: #DCE9D9;
}

.contact__item {
    padding: 0 50px 0 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #499A18;
    user-select: none;
}

.contact__item:hover {
    color: #717171;
    cursor: pointer;
}

.contact__city:active {
    background: #C1E698;
}

.contact__line {
    width: 380px;
    height: 0px;
    border: 1px solid #D9D9D9;
}

.contact__item:hover .contact__line {
    border: 1px solid #717171;
}

.contact__card {
    width: 448px;
    margin-top: 47px;
    padding: 17px 33px 32px;
    display: flex;
    background: #EDF2EC;
    border: 1px solid #000000;
    border-radius: 20px;
    display: none;
}

.card__title {
    margin-right: 5px;
}

.card__title-item {
    margin-right: 5px;
    margin-bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #000000;
}

.card__info-item {
    margin-bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #717171;
}

.card__info-btn {
    margin-top: 19px;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #717171;
    border: 1px solid #E06733;
    border-radius: 5px;
    cursor: pointer;
}

.card__info-btn:hover {
    color: white;
    background: #E06733;
}

#call {
    display: block;
    padding: 7px 29px;
}

/* footer */

footer {
  background-color: #FFFFFF;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1440px;
}

.footer__text {
    margin-left: 109px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}

.footer__link:hover {
    color: #E06733;
    transition-duration: 250ms;
}

.footer__svg:hover {
    fill: #E06733;
    transition-duration: 250ms;
}

.insta:hover path {
    fill: #E06733;
    transition-duration: 250ms;
}

.printerest:hover path {
    fill: #E06733;
    transition-duration: 250ms;
}

.footer__text:nth-child(2) {
    margin-right: 88px;
}

.footer__text-list {
    display: flex;
}

.footer__text-item:not(:last-child) {
    margin-right: 20px;
}

.footer__list {
    display: flex;
    margin-top: 9px;
    margin-right: 109px;
}

.footer__item:not(:last-child) {
    margin-right: 20px;
}

@media (max-width: 768px) {

    body {
        min-width: 768px;
    }

    .header__container {
        padding: 35px 50px;
        padding-top: 36px;
    }

    .header__nav-last {
        margin-right: 3px;
    }

    .welcome__container {
        flex-direction: row-reverse;
        padding: 37px 50px 70px;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 35px;
    }

    .service__header {
        display: block;
    }

    .contact__container {
        flex-direction: column;
    }

    .welcome__leafs {
        width: 42%;
        transform: none;
        background-position: initial;
    }

    .welcome__descriprion {
        flex-basis: 50.5%;
    }

    .welcome__par {
        margin-left: 5px;
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 25px;
    }

    .welcome__par-string {
        display: none;
    }

    .about__container {
        flex-direction: column;
    }

    .about__left {
        flex-basis: auto;
        margin: 0;
    }

    .about__title {
        margin: 42px 173px;
        margin-bottom: 49px;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
    }

    .about__description {
        margin: 0 50px 69px 50px;
    }

    .about__right {
        width: 250px;
        height: 258px;
        margin: 0 auto 95px auto;
    }

    .service__header {
        padding: 60px 0 40px 50px;
    }

    .service__title {
        margin-bottom: 41px;
        font-size: 35px;
        line-height: 46px;
    }

    .service__btn {
        margin-right: 33px;
    }

    .service__list {
        justify-content: space-between;
    }

    .service__item {
        max-width: 280px;
        margin-right: 0;
        margin-bottom: 37px;
    }

    .service__item-title {
        margin: 11px auto;
        margin-bottom: 9px;
    }

    .service__item-description {
        width: 201px;
        margin: 0 auto 20px auto;
    }

    .service__content {
        margin: 0 50px;
        padding-bottom: 68px;
    }

    .service__item-photo1 {
        width: 280px;
        height: 350px;
        background-image: url(../assets/img/second.jpg);
        border-radius: 20px 20px 0px 0px;
    }

    .service__item-photo2 {
        width: 280px;
        height: 350px;
        background-image: url(../assets/img/second1.jpg);
        border-radius: 20px 20px 0px 0px;
    }

    .service__item-photo3 {
        width: 280px;
        height: 350px;
        background-image: url(../assets/img/second2.jpg);
        border-radius: 20px 20px 0px 0px;
    }

    .service__item-photo4 {
        width: 280px;
        height: 350px;
        background-image: url(../assets/img/second3.jpg);
        border-radius: 20px 20px 0px 0px;
    }

    .service__item-photo5 {
        width: 280px;
        height: 350px;
        background-image: url(../assets/img/second4.jpg);
        border-radius: 20px 20px 0px 0px;
    }

    .service__item-photo6 {
        width: 280px;
        height: 350px;
        background-image: url(../assets/img/second5.jpg);
        border-radius: 20px 20px 0px 0px;
    }

    .prices__title {
        margin-left: 15px;
        margin-bottom: 56px;
        font-size: 35px;
        line-height: 42px;
    }

    .prices__description {
        margin-top: 142px;
        font-size: 25px;
        line-height: 35px;
    }

    .prices__left {
        margin-left: 50px;
    }

    .prices__title {
        margin-top: 40px;
    }

    .prices__right {
        margin-right: 50px;
    }

    .prices__leafs {
        margin-bottom: 72px;
    }

    .contact {
        padding-top: 40px;
    }

    .contact__image {
        width: 200px;
        margin: 0 auto;
        order: 3;
        transform: translateX(10px);
    }

    .contact__title {
        margin: 0;
        text-align: center;
    }

    .contact__city {
        margin: 101px auto 246px;
    }

    .contact__list {
        margin: 0 auto;
    }

    .contact__card {
        margin-left: auto;
        margin-right: auto;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        padding: 34px 0;
    }

    .footer__text {
        margin-bottom: 17px;
        margin-left: 0;
        line-height: 24px;
    }

    .footer__text:nth-child(2) {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .footer__list {
        margin: 0;
    }
}

@media (max-width: 380px) {

    html,
    body {
        overflow-x: hidden;
        position: relative;
    }

    body {
       min-width: 380px;
    }

    .bar {
        display: block;
        width: 40px;
        height: 2px;
        margin: 6px auto;
        background-color: #717171;
        transition: 0.2s;
    }

    .bar:first-child {
        margin-top: 0;
    }

    .bar.active:nth-child(1) {
        transform: rotate(37deg);
        transform-origin: left;
    }

    .bar.active:nth-child(2) {
        opacity: 0;
    }

    .bar.active:nth-child(3) {
        opacity: 0;
    }

    .bar.active:nth-child(4) {
        transform: rotate(-37deg);
        transform-origin: left;
    }

    .menu {
        position: absolute;
        top: 0;
        padding-top: 30px;
        display: block;
        width: 380px;
        height: 398px;
        background-color: white;
        z-index: 10;
        transform: translateX(100%);
        transition-duration: .3s;
    }

    .showMenu {
        transform: translateX(0);
    }

    .burger__list {
        display: flex;
        flex-direction: column;
    }

    .burger__item {
        margin: 10px 75px;
        font-weight: bold;
        font-size: 24px;
        line-height: 2;
        text-align: center;
        background-color: #EDF2EC;
        border: 1px solid black;
        border-radius: 50px;
    }

    .burger__link {
        display: block;
        color: #499A18;
    }

    .header__container {
        padding: 35px 24px;
    }
    
    .header__nav-item {
        line-height: 21px;
    }

    .header__nav-item:not(:first-child) {
        display: none;
    }

    .header__burger {
        display: block;
        z-index: 100;
    }

    .welcome__container {
        display: block;
        padding: 22px 25px 24px;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 35px;
    }
    .welcome__par {
        margin-left: 0;
        margin-bottom: 26px;
    }

    .welcome__btn {
        padding: 5px 16px;
        font-size: 10px;
        line-height: 20px;
    }

    .welcome__leafs {
        display: none;
    }

    .about__title {
        width: 288px;
        margin: 30px auto 13px;
            font-size: 25px;
        line-height: 33px;
    }

    .about__description {
        margin: 0 25px;
        font-size: 15px;
        line-height: 25px;
    }

    .about__right {
        width: 150px;
        height: 156px;
        margin-bottom: 26px;
    }

    .service__content {
        padding-bottom: 0;
    }

    .service__header {
        padding: 30px 0 31px 25px;
    }

    .service__title {
        margin-bottom: 38px;
        font-size: 25px;
        line-height: 33px;
    }

    .service__btn {
        width: 121px;
        height: 35px;
        margin-right: 6px;
        margin-bottom: 9px;
        padding: 8px 28px;
        font-size: 15px;
        line-height: 20px;
    }

    .service__item {
        margin-bottom: 33px;
    }

    .service__item:nth-child(n+4) {
        margin-bottom: 33px;
    }

    .service__item:last-child {
        margin-bottom: 26px;
    }

    .prices__container {
        flex-direction: column;
    }

    .prices__left {
        margin-left: 0;
    }

    .prices__title {
        margin: 25px 0 37px;
        text-align: center;
        font-size: 25px;
        line-height: 30px;
    }

    .prices__accourdion {
        width: 224px;
        margin: 0 auto;
        padding: 26px 22px;
    }

    .prices__item {
        width: 180px;
        margin: 0 auto;
        padding-left: 31px;
        font-size: 15px;
        line-height: 20px;
    }

    .prices__main-item:not(:last-child) {
        margin-bottom: 11px;
    }

    .accordion-body {
        width: 180px;
        padding-left: 31px;
    }

    .prices__item-line {
        width: 105px;
    }

    .prices__right {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .prices__description {
        width: 230px;
        margin: 20px auto;
        font-size: 20px;
        text-align: center;
    }

    .prices__order {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .prices__btn {
        width: 121px;
        height: 35px;
        margin: 0 auto;
        font-size: 15px;
        line-height: 20px;
    }

    .prices__order-link {
        margin: 0;
        padding: 3px 20px;
    }

    .prices__leafs {
        display: none;
    }

    .contact {
        padding-top: 25px;
    }

    .contact__title {
        font-size: 25px;
        line-height: 33px;
    }

    .contact__city {
        width: 300px;
        margin-top: 81px;
        margin-bottom: 132px;
        padding-right: 22px;
    }

    .contact__image {
        width: 100px;
        height: 125px;
        transform: translateX(0);
    }

    .contact__city {
        margin-bottom: 0;
    }

    .contact__list {
        width: 300px;
        margin-bottom: 30px;
    }

    .contact__card {
        width: 340px;
        margin-bottom: 30px;
        padding: 10px 15px;
        justify-content: space-between;
    }

    .footer__container {
        padding: 21px 0;
    }

    .footer__text:nth-child(2) {
        margin-bottom: 11px;
    }
}

  



